body{
    background-color: dimgray;
}
h1{
    text-align: center;
    color:aliceblue;
    background-color: blue;
}
h2{
    text-align: center;
    color: aliceblue;
}
link{
    text-align: left;
}
p{
    font-size: 50px;
}
