@charset "UTF-8";

@font-face {
    font-family: android;
    src: url(fontes/idroid.otf); format:opentype;
}

body{
    margin: 0px;
    padding: 0px;
    background-color: #84E1AD;
    display: inline-block;
}

header{
    margin: 0px;
    background-image: linear-gradient(to top, #195634 20%, #3CD983);
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.411);
}

header > h1{
    padding: 10px;
    margin: 0px;
    color: white;
    font-family:'Teko', sans-serif;
    font-weight: 300;
    text-align: center;
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.389);
    font-size: 2.5em;
}

header > p{
    margin: 0px;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.389);
    padding-bottom: 10px;
    font-size: 1em;
}


.botao{
    margin: 5px 10px;
    border: none;
    background-color: transparent;
    color: #98ffc6;
    font-size: medium;
    padding: 8px;
    transition-duration: 500ms;
    font-weight: bolder;
}

.botao:hover{
    background-color: #023117;
    border-radius: 5px;
    color:white;
    cursor: pointer;
}

main{
    margin: 0px 450px;
    background-color: white;
    border-radius: 0px 0px 15px 15px;
    box-shadow: 2px 4px 4px rgba(0, 0, 0, 0.277);
}

section{
    padding: 20px;
}

section > h1{
    text-shadow: 4px 3px 5px rgba(0, 0, 0, 0.248);
    margin: 0px;
    font-family: android;
    padding: 20px 0px 0px 20px;
    color: #195634;
    font-size: 2em;
    text-align: center;
}

section > h2{
    text-shadow: 4px 3px 5px rgba(0, 0, 0, 0.446);
    font-family: android;
    color: #195634;
    background-image: linear-gradient(to right, rgb(127, 255, 185), rgba(255, 255, 255, 0)60%);
    border-radius: 10px;
    text-indent:10px;
}

section > p{
    text-indent: 15px;
    text-align: justify;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

section > img{
    position: relative;
    left: 50%;
    transform: translate(-50%)
}

section > picture{
    display: block;
   text-align: center;
}

main> .container{
    margin: 0px 20px;
    text-align: center;
    background-color: #195634;
    padding: 20px;
}

section#down > h3{
    background-color: #2FA866;
    margin-bottom: 0px;
    padding: 10px;
    color: white;
    border-radius: 10px 10px 0px 0px;
}

.conteudo{
    margin-top: 0px;
    background-color: #C5EBD6;
    border-radius: 0px 0px 10px 10px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.conteudo > p{
    padding: 10px;
    margin: 0px;
    text-align: justify;
    text-indent: 15px;
}

.conteudo > ul{
    display: inline-block;
    margin: 0px;
    padding: 40px;
    font-weight: lighter;
}

.other{
    padding-left: 100px;
}

.fim{
    padding: 10px;
    margin: 0px;
    text-indent: 15px;
    text-align: justify;
}

footer{
    background-color: #023117;
    margin: 0px;
}

footer > p{
    margin-bottom: 0px;
    text-align: center;
    color: white;
    padding: 10px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: lighter;
    font-size: small;
}

.guana{
    color: white;
    font-weight: bold;
    font-size: medium;
    text-shadow: 2px 2px 2px rgba(255, 255, 255, 0.118);
}

.guana:hover{
    text-decoration: underline;
}

.link{
    color: #035428;
    text-decoration: none;
    font-weight: bolder;
    padding: 0px 4px;
}

.link:hover{
    background-color: #07612f;
    color: white;
    border-radius: 7px;
}

mark{
    background-color: white;
    color: #035428;
    font-weight: bold;
}


@media screen and (max-width:1440px){
    main{
        margin: 0px 140px;
    }
}

@media screen and (max-width:1024px){
    main{
        margin: 0px 90px;
    }
}

@media screen and (max-width:768px){
    main{
        margin: 0px 50px;
    }
}

@media screen and (max-width:550px){
    main{
        margin: 0px 0px;
    }
}




